.wallet-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.wallet-info__heading {
  font-size: 32px;
  line-height: 1.2;
}

.wallet-info__list {
  margin-top: 35px;
}

.wallet-info__item {
  font-size: 24px;
  margin-bottom: 20px;
  word-wrap: break-word;
  hyphens: auto;
}

.wallet-info__item>span {
  font-weight: bold;
}

.wallet-info__item:last-child {
  margin-bottom: 0;
}